# Ignore node_modules (will be installed during the build process)
node_modules/
node_modules
node_modules/*

# Ignore npm debug logs
npm-debug.log
# Ignore local environment files
.env
.env.local
# Ignore build directories
dist/
build/
# Ignore Docker files (if any)
Dockerfile

# Ignore version control directories
.git/
.gitignore
# Ignore logs
*.log
# Ignore IDE-specific files
.vscode/

# Ignore dependency caches
.cache/